* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131517;
}

.box {
    margin: 100px auto;
    text-align: center;
    background-color: #1f2429;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 200px;
    padding: 20px;
}

#login, #password, #btn {
    padding: 10px;
    margin: 10px;
    background-color: #252e38;
    color: #fff;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #2484f2;
    font-size: 1.3em;
}

#btn {
    cursor: pointer;
    width: 250px;
    text-transform: uppercase;
}

#btn:hover {
    color: #fff;
    background-color: #2285f5;
}